<h2>319 - Angular 9 - Events binding - Liên kết sự kiện</h2>

<p>
  // Full list of Angular Events<br>
(click)="myFunction()"      <br>
(dblclick)="myFunction()"   <br>
(submit)="myFunction()"<br>
(blur)="myFunction()"  <br>
(focus)="myFunction()" <br>
(scroll)="myFunction()"<br>
(cut)="myFunction()"<br>
(copy)="myFunction()"<br>
(paste)="myFunction()"<br>
(keyup)="myFunction()"<br>
(keypress)="myFunction()"<br>
(keydown)="myFunction()"<br>
(mouseup)="myFunction()"<br>
(mousedown)="myFunction()"<br>
(mouseenter)="myFunction()"<br>
(drag)="myFunction()"<br>
(drop)="myFunction()"<br>
(dragover)="myFunction()"<br>

</p>

<div class="myCss">Hello: <span appFont20px>{{name}}</span></div>

<div>Số tuổi hiện tại là: <span appFont20px>{{age | number}}</span></div>

<span *ngIf="age < 10; then trueCondition; else falseCondition"></span>

<ng-template #trueCondition><span style="color: red;">Bạn dưới 10 tuổi</span></ng-template>
<ng-template #falseCondition><span appBold>Bạn trên 10 tuổi</span></ng-template> <br>

<button (click)="tangtuoi()" appFont20px>Tăng</button>
<button (click)="giamtuoi()" appFont20px>Giảm</button> <br>

List vehicles:

<ul>
  <li *ngFor="let vehicle of vehicles">{{vehicle}}</li>
</ul>

<h2>Nội dung bài học</h2>

<p>
  Trong Angular để so sánh thì dùng với === 3 dấu bằng, chứ không phải 2 dấu bằng. <br>
</p>