<p>
  Hướng dẫn sử dụng Service: CommonService - dùng nhhuw một dịch vụ của Module<br>
  Khi đó dùng chung các biến trong common. <br>
  Khi common được dùng ở trong component khác thì các biến cũng tương tự. <br>
  Tức là các giá trị được dùng chung.
</p>


Current Age: <div style="font-size: 50px;">{{age}}</div><br>
<button (click)="giamtuoi()">Giảm</button>
<button (click)="tangtuoi()">Tăng</button> <br>

<span *ngIf="age >= 18; then condition1; else condition2"> </span>

<ng-template #condition1 class="uderAge">Lớn hơn 18+</ng-template>
<ng-template #condition2 class="overAge">Bé hơn 18+</ng-template>

