<!-- 
<app-component-demo></app-component-demo>

<app-component-if></app-component-if>

<app-binding-way></app-binding-way>

<app-event-binding></app-event-binding>

<app-component-pipe></app-component-pipe>

<app-component-routing></app-component-routing> -->

<a routerLink="/" routerLinkActive="router-link-active">Home</a>
&nbsp;|
<a routerLink="/about" routerLinkActive="router-link-active">About</a>
&nbsp;|
<a routerLink="/if" routerLinkActive="router-link-active">If</a>
&nbsp;|
<a routerLink="/routing" routerLinkActive="router-link-active">Routing</a>
&nbsp;|
<a routerLink="/eventbinding" routerLinkActive="router-link-active">Event binding</a>
&nbsp;|
<router-outlet></router-outlet>