<h2> Hướng dẫn tạo menu cơ bản</h2>

<p>Tạo một Component bằng lệnh: ng generate component compnent_name <br>
sau đó link đến các Component đó bằng việc đặt các routerLink/app.component.html <br>
Tiếp đến là đặt các NgModule trong app.module.ts để việc import Component cần quản lý</p>

<a routerLink="/" routerLinkActive="router-link-active">Home</a>
&nbsp;|
<a routerLink="/about" routerLinkActive="router-link-active">About</a>
&nbsp;|
<a routerLink="/if" routerLinkActive="router-link-active">If</a>
&nbsp;|
<a routerLink="/routing" routerLinkActive="router-link-active">Routing</a>
&nbsp;|
<a routerLink="/eventbinding" routerLinkActive="router-link-active">Event binding</a>
&nbsp;|
<a routerLink="/ng-template" routerLinkActive="router-link-active">Ng Template</a>
&nbsp;|
<a routerLink="/pipe" routerLinkActive="router-link-active">Pipe</a>
&nbsp;|
<a routerLink="/service" routerLinkActive="router-link-active">Service Template</a>
&nbsp;|
<a routerLink="/student-registor" routerLinkActive="router-link-active">Student Registration</a>
&nbsp;|
<a routerLink="/student-form" routerLinkActive="router-link-active">Student Reaction Form</a>
&nbsp;|
<router-outlet></router-outlet>